<%= form_for [@user, @category] do |f| %>
	<% if @category.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@category.errors.count, "error") %>
			prohibited this ticket from being saved:</h2>
		<ul>
			<% @category.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
		<% end %>
	<p>
	<%= f.label :source %><br>
	<%= f.text_field :source %>
	</p>
	<p>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
	</p>
	<p>Sorry!The category type cannot be changed</p>
	<%= f.submit %>
<% end %>